@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
/*font-family: "Sulphur Point", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
/*font-family: "Limelight", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Sulphur+Point:wght@300;400;700&display=swap');
/*font-family: "Crushed", sans-serif*/


:root {
    /*---------------Fonts-------------*/
    --main-font: "Sulphur Point", sans-serif;
    --headers-font: "Limelight", sans-serif;
    --sub-heading-font: "Crushed", sans-serif;
    /*-------------Colors-------------*/
    --homePage-color1: #FF7AAE; 
    --homePage-color2: #E28FDB; 
    --homePage-color3: #00C9C3; 
    --homePage-color4: #7FD1AE; 
    --background-color: #D1C7C7;
    --bg-shade1-color: #aca4a8;
    --bg-shade2-color: #827984;
    --light-cyan-color: #709DA1;
    --light-orange-color: #D1B293;
    --ok-button-color: #82E79E;
    --button-color: #E78282;
  }

*{
    font-family: var(--main-font);
}

body{
    background-color: var(--background-color);
}

.container{
    display: flex;
    flex-direction: column;
}

.page-header{
}

.page-header nav{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.page-header ul{
    display: flex;
    justify-content: space-between;
    width: 24%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page-header img{
    height: 80px;
    width: 80px;
    background-color: #E78282;
}

.page-main{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

.page-footer{
    height: 60px;
    background: darkgreen;
}
