@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
/*font-family: "Sulphur Point", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
/*font-family: "Limelight", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Sulphur+Point:wght@300;400;700&display=swap');
/*font-family: "Crushed", sans-serif*/

:root {
    /*---------------Fonts-------------*/
    --main-font: "Sulphur Point", sans-serif;
    --headers-font: "Limelight", sans-serif;
    --sub-heading-font: "Crushed", sans-serif;
    /*-------------Colors-------------*/
    --homePage-color1: #e58aad; 
    --homePage-color2: #E28FDB; 
    --homePage-color3: #00C9C3; 
    --homePage-color4: #7FD1AE; 
    --background-color: #D1C7C7;
    --bg-shade1-color: #aca4a8;
    --bg-shade2-color: #827984;
    --light-cyan-color: #709DA1;
    --light-orange-color: #D1B293;
    --ok-button-color: #82E79E;
    --button-color: #E78282;
  }

*{
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background-color);
    background-image: linear-gradient(43deg, var(--homePage-color1) 0%, var(--homePage-color4) 46%, var(--homePage-color2) 100%);
    
}

.container{
    display: flex;
    flex-direction: column;
    height: 100svh; /* svh is a good unit for mobile https://media.licdn.com/dms/image/D4D12AQH-AdDIFMTlOw/article-cover_image-shrink_720_1280/0/1700152353589?e=2147483647&v=beta&t=94i335uRJOEqhBfAk2ANBBSsKVDoq51PN2hc9Lclc5I */
}

/*****************************Header and Navigation bar************************************/
.page-header nav{
    padding: 10px 25px;
    margin: 5px 0 60px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.page-header ul{
    display: flex;
    justify-content: space-between;
    width: 24%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.page-header li a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14pt;
    color: black;
  }

.page-header hr {
    width: 60%;
    margin: 2px auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #00000000, #6c646d, #2b2b2b00)
  }
.page-header img{
    height: 52px;
    width: 52px;
}
/*************************End of Header and Navigation bar************************************/

/****************************************main*************************************************/
.page-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */ /* i removed this since I made the page-main take the full height of the view so this can be added separately to each page if needed */
}

.page-main h1{
    font-family: var(--headers-font);
    font-size: 50pt;
    margin: 50px 0 16px 0;
}

.agency-descriptions-p{
    font-size: 18pt;
    margin-bottom: 160px;
}

.homePage-buttons button{
  background: var(--bg-shade2-color);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  min-height: 40px;
  width: 120px;
  text-align: center;
  margin: 20px 50px;
}

.homePage-buttons button:hover,
.homePage-buttons button:active {
  background-color: initial;
  background-position: 0 0;
  color: white;
  backdrop-filter: brightness(40%)
}


 